language: java
jdk:
  -openjdk8

branches:
  only:
    - master

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

script: "./gradlew clean build"

notifications:
  email:
    recipients:
      - "jiwoo22110103@gmail.com"

before_deploy:
  - zip -r CRUD-BOARD *
  - mkdir -p deploy
  - mv CRUD-BOARD.zip deploy/CRUD-BOARD.zip

deploy:
  - provider: s3
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
    bucket: spring-jar-bucket
    region: ap-northeast-2
    skip_cleanup: true
    acl: private
    local_dir: deploy
    wait-until-deployed: true
